<p><%= question.body %></p>
<style>
  p {
    margin-bottom: 40px;
  }
</style>
<table>
  <tr>
    <td>
      <%= link_to "delete", question_header(question), method: :delete %>
      |
    </td>
    <td>
      <%= link_to "edit", edit_test_path(question) %>
    </td>
  </tr>
</table>
